#box1, #box2, #box3, #box4, #box5 {
  width: 100px;
  height: 80px;
  border: 3px black solid;
  background-color: yellow;
}
#box2 {
  transform: translate(100px, 0px);
}
#box3 {
  transform: rotate(45deg);
}
#box4 {
  transform: scale(2) translate(100px, 0px);
}
#box5 {
  transform: skew(3);
}
