div {
  border: 1px black solid;
}

#a {
  width: 300px;
  height: 200px;
  
  display: -webkit-box;
  -webkit-box-orient: horizontal;
}

#b {
  -webkit-box-flex: 1;
}

#c {
  -webkit-box-flex: 1;
}

#d {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-box-flex: 2;
}

#e {
  -webkit-box-flex: 1;
  -webkit-box-ordinal-group: 2;
}

#f {
  -webkit-box-flex: 1;
}
