#all {
  border: 1px black solid;
  position: absolute;
  left: 5%;
  top: 5%;
  width: 90%;
  height: 90%;
}

#head {
  border: 1px black solid;
  position: absolute;
  left: 0%;
  top: 0%;
  width: 100%;
  height: 10%;
  text-align: center;
  font-size: 50%;
}

#head h1 {
  margin-top: 1%;
}

#menu {
  border: 1px green solid;
  position: absolute;
  left: 0%;
  top: 10%;
  width: 18%;
  height: 90%;
  padding-left: 1%;
  padding-right: 1%;
  overflow: auto;
}

#content {
  border: 1px black solid;
  position: absolute;
  left: 20%;
  top: 10%;
  width: 78%;
  height: 90%;
  padding-left: 1%;
  padding-right: 1%;
  overflow: auto;
}
