#all {
  width: 800px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  border: 1px gray solid;
}

#header {
  background-color: #E2E393;
  border-bottom: 3px black solid;
  text-align: center;
  width: 800px;
  height: 100px;
  padding-top: 1em;
}

#left {
  float: left;
  width: 200px;
  clear: left;
  border-right: 1px black solid;
  height: 400px;
  padding-right: .5em;
}

#right {
  float: left;
  width: 580px;
  height: 400px;
  padding-left: .5em;
}

#footer {
  width: 800px;
  height: 60px;
  text-align: center;
  background-color: #E2E393;
  border-top: 3px black double;
  padding-bottom: 1em;
  clear: both;
}
