body
{
  background-color: #333300;
}

h1 {
  color: #FFFF33;
  text-align: center;
  font: italic 200% fantasy;
  font-weight: bold;
}

p {
  background-color: #FFFF33;
  color: #333300;
  text-align: right;
  border: 3px groove #FFFF33;
}
